.myweb{
	background: lightblue;
	color: black;
	text-align: center;
	height:100%;
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-content: center;

}


.animal{
	width: 50%
	height: 30vh;
	border-radius: 10px;
}
.links ul{
	display: flex;
	background-color: lightblue;
	justify-content: space-between;
	align-content: center;
	padding: 30px;
}

.main{
	display: flex;
	height: 155vh;
	width: 100%;
}

.main div{
	width: 45%;
	height: 155%;
}


#right{
	width: 25%
	background-color: #fffbfa;
	height: 250vh;
	padding-left: 10px;
}

.sp{
	width: 250px;
	height: 20vh;
	border-radius: 25px;
	
}

#left{
	width: 100%;
	height: 80vh;
	margin-left: 10px;
	margin-bottom: 20px;

}


.footer{
	background-color: grey;
	height: 10vh;
	width: 100%;
	color: black;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding: 20px 0;
} 


#go{
	border: none;
	border-radius: 20px;
	padding: 5px;
	width: 250px;
	height: 25vh;
}


.footer{

	text-align: center;
	font-weight: bold;
	color: grey;
    background-color: lightblue;
    
}
